<div class="flex flex-col px-[20%] gap-y-10">
  <%= render Pages::Cart::TitleComponent.new do |component| %>
    <% component.with_title do %>
      <%= 'Корзина' %>
    <% end %>
    <% component.with_text_button(title: 'Очистить корзину',
                                  path: clear_cart_path,
                                  method: :delete,
                                  render: @current_cart.cleanable?) %>
  <% end %>
  <% if @picked_products.any? %>
    <div class="flex flex-col gap-y-10">
      <%= render Pages::Cart::ProductComponent.with_collection(@picked_products) %>
      <%= render Pages::Cart::OfferComponent.new(cart: @current_cart) %>
      <%= render Reusable::Buttons::SubmitComponent.new(title: 'Оформить',
                                                        path: clear_cart_path,
                                                        method: :delete) %>
    </div>
  <% else %>
    <%= render Pages::Cart::EmptyComponent.new %>
<% end %>
</div>
